<html>
	<head>
		<title>Lite Streak</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="//code.createjs.com/createjs-2014.12.12.min.js"></script>
	</head>
	<body>
		<div class='stats' id='music'><i id='volume' class="fa fa-volume-up"></i></div>
		<div class='stats health'>
			<h1>Health</h1>
			<div id='health'></div>
		</div>
		<div class='stats shield'>
			<h1>Shield</h1>
			<div id='shield'></div>
		</div>
		<div class='stats shield-recharge'>
			<h1>Shield-Recharge</h1>
			<div id='shield-recharge'></div>
		</div>
		<div class='stats speed'>
			<h1>Speed</h1>
			<div id='speed'></div>
		</div>
		<div class='stats dmg'>
			<h1>Damage</h1>
			<div id='dmg'></div>
		</div>
		<div class='stats credits'>
			<h1>Credits</h1>
			<div id='credits'></div>
		</div>
		<script src="js/browserify/bundle.js"></script>
	</body>
</html>
